
.all_movie{
  padding-top: 50px;
display: flex ;
flex-wrap: wrap;
justify-content: center;


.movie{
  h3{ text-align: center;}
  width:45%;
padding:20px ;
margin:2px;
background-color: rgba(4, 4, 4, 0.26) ;
display: flex ;
justify-content: center;
align-items: center ;
}
}
.new_movies{
  display: flex;
  justify-content: center;
  font-family: Arial ;
  font-size: .9em;
  input , textarea{ border:none ; color:white;
  background-color: rgba(0, 0, 0, 0.2) ;
  border-radius: 4px;
  padding:10px;
  margin:10px;}
  #movie_title{
    height:10vh;
    width:30vw;
    font-size: 1.5em;
  }
  #movie_description{
    width:30vw;
    height:20vh;
  }
  input[type="submit"]{
    cursor:pointer ;
    transition: all ease-in-out 300ms;
  }
  input[type="submit"]:hover{
    transform: scale(1.01) ;
    background-color: white;
    color:rgb(40, 40, 40) ;
  }
}
  .show_movie{
  h2{text-align: center;}

  .movie_desc{display: flex; justify-content: center;}
  .description{background-color: rgba(196, 196, 196, 0.52) ; padding:20px; border-radius: 2px;}
  #comment_content{
    border:none;
    background-color: rgba(0, 0, 0, 0.2) ;
    color:white ;
    padding:10px;
    width:30vw;
  }
  .comment{  padding:10px; margin:10px ; background-color: rgba(168, 176, 170, 0.53) ;border-radius: 5px;}
  .user{color:white; font-size: .9em;}
 .addcomment{text-align: center;padding:20px; margin-top:20px;

 h3{color:white; }

}
  .comments{ display: flex;justify-content: center;}
  }
